* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
   
}
.font i  {
position: absolute;
left: 40%;
top: 40%;
transform: translate(-50%,-50%);
margin-top: 300px;
font-size: 350px;
color:cornflowerblue;


}